.game_pitch {
    --pitch-cell-size: 64px;

    display: flex;
    gap: calc(var(--spacing) / 2);

    background-color: white;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    border-radius: 0 0 var(--radius) var(--radius);

    .game_pitch_col {
        --pitch-cell-background: var(--background);

        &:hover {
            --pitch-cell-background: grey;
        }

        display: flex;
        flex-direction: column;

        .game_pitch_cell {
            min-height: var(--pitch-cell-size);
            height: var(--pitch-cell-size);
            max-height: var(--pitch-cell-size);
    
            min-width: var(--pitch-cell-size);
            width: var(--pitch-cell-size);
            max-width: var(--pitch-cell-size);
    
            background: var(--pitch-cell-background);

            padding: calc(var(--spacing) / 2);

            &:last-child {
                border-radius: 0 0 calc(var(--radius) - var(--spacing) / 2) calc(var(--radius) - var(--spacing) / 2);
            }

            .game_pitch_cell_own,
            .game_pitch_cell_other {
                height: 100%;
                width: 100%;

                border-radius: 50%;
            }

            .game_pitch_cell_own {
                background: rgb(196, 45, 22) !important;
            }

            .game_pitch_cell_other {
                background: rgb(219, 212, 17) !important;
            }
        }
    }
}