.connectInstructions {
    padding-left: calc(var(--spacing) * 2);
}

.url {
    margin-top: var(--spacing);
}

.stats {
    display: flex;
    gap: var(--spacing);
    align-items: center;
}

.pitch {
    display: flex;
    gap: calc(var(--spacing) / 2);

    background-color: white;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    border-radius: 0 0 var(--radius) var(--radius);

    .col {
        --pitch-cell-background: var(--background);

        &:hover {
            --pitch-cell-background: grey;

            .cellNoneLast {
                border: 4px dotted var(--primary);
            }
        }

        display: flex;
        flex-direction: column;

        .cell {
            background: var(--pitch-cell-background);

            padding: calc(var(--spacing) / 2);

            &:last-child {
                border-radius: 0 0 calc(var(--radius) - var(--spacing) / 2) calc(var(--radius) - var(--spacing) / 2);
            }
        }
    }
}

.cellOwn,
.cellOther,
.cellNone,
.cellNoneLast {
    --stats-cell-size: 48px;

    min-height: var(--stats-cell-size);
    height: var(--stats-cell-size);
    max-height: var(--stats-cell-size);

    min-width: var(--stats-cell-size);
    width: var(--stats-cell-size);
    max-width: var(--stats-cell-size);

    border-radius: 50%;
}

.cellOwn {
    background: var(--primary) !important;
}

.cellOther {
    background: var(--secondary) !important;
}